<ion-view title="Grabar Audio" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/metallica-icon.png">
                    <h2>Metallica</h2>
                    <p>Master of Puppets</p>
                </div>
                <form class="list">
                	<div class="row">
           				<div class="col"><button  id="grabarAudio-button7" class="button button-assertive  icon-left ion-star  icon-right ion-chevron-right button-block" ng-click="capturarAudio()">Grabar Audio</button></div>
        			</div>
            		<ion-item class="range range-positive">
            		    <i class = "icon ion-music-note"></i>
            		    <input type="range" value="50" min="0" max="100">
            		    <i class = "icon ion-music-note"></i>
            		</ion-item>
        		</form>

        		<div class="button-bar">
            		<button id="grabarAudio-button8" class="button button-dark  button-block icon ion-android-arrow-dropright-circle" ng-click="reproducirAudioGrabado()"></button>
            		<button id="grabarAudio-button9" class="button button-dark  button-block icon ion-ios-pause" onclick="pausarAudio();"></button>
            		<button id="grabarAudio-button10" class="button button-dark  button-block icon ion-stop" onclick="pararAudio();"></button>
        		</div>
           	</div>
        </ion-list>
    </ion-content>
</ion-view>